.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3em;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.software-skill-inline > i {
  color: #868e96;
}

.software-skill-inline > i:hover {
  color: #645beb;
}

/* div#lottie {
  border-radius: 54px;
  background: #96dcdb;
  box-shadow: inset 11px 11px 22px #80bbba,
              inset -11px -11px 22px #adfdfc;
  background-color: #96dcdb!important;
} */

/* .skills-text-div {
border-radius: 54px;
background: #75909c;
box-shadow:  5px 5px 8px #669695,
             -5px -5px 8px #c6ffff;
             padding: 3em;
             margin: 16px;
}

.greeting-text-div {
  border-radius: 54px;
  background: #75909c;
  box-shadow:  5px 5px 8px #669695,
               -5px -5px 8px #c6ffff;
             padding: 3em;
             margin: 16px;
} */