.experience-accord {
  margin: 50px;
  border-radius: 5px;
  background-color: #1d1d1d;
  border: 0.1px solid rgba(0, 0, 0, 0.397);
  transition: all 0.2s ease-in-out;
}

.experience-accord:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #e2405f;
}

.accord-panel {
  font-family: "Montserrat", sans-serif;
}

.accord {
  background-color: black;
}

@media (max-width: 768px) {
  .experience-accord {
    margin: 20px;
  }
}

.dangerous-iframe {
  width: 1200px;
  height:600px;
}

.dangerous-iframe > iframe {
  width: 1200px;
  height:600px;
  background-color:rgb(211, 210, 210);
}

.wordpress-thumb {
  width: 450px;
  height: auto;
}